<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      /* CSS styles for the navigation bar */
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
    </style>
  </head>
  <body>
    <!-- Navigation bar -->
    <ul>
      <li><a href="#home">Home</a></li> <!-- Since index page all options are in nav bar but different for each users login page-->
      <li><a href="#about">Search</a></li>
      <li><a href="#services">My Orders</a></li> <!-- get different permissions depending on user type for all the rest of these-->
      <li><a href="#contact">View Cart</a></li>
      <li><a href="#contact">View Orders</a></li>
      <li><a href="#contact">Inventory</a></li>
      <li><a href="#contact">Create Report</a></li>
      <li><a href="#contact">Articles</a></li>
    </ul>
    
    <!-- Page content -->
    <h1>Warehouse Website Placeholder</h1>
    <p>In future it will show popular products or recommended products</p>
    
  </body>
</html>
