<html>
    <head>
        <title> Sign Up Page</title>
    </head>
    <body>
        <div class = "sign-up-form">
           <h1> Sign Up Now </h1>
        <form> 
            <input type="username" class = "input-box" placeholder = "Create Username">
            <input type="password" class = "input-box" placeholder = "Create Password">
            <p><span><input type = "checkbox"></span> I agree to the terms of services</p>
            <button type = "button" class = "signup=btn">Sign up</button>
            <hr>
            <p class = "or">OR</p>
            <button type = "button" class = "signup=btn">Login with existing account</button>
        </form>  
        </div>
       
    </body>
</html>